<main>
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <%= render 'layouts/left', user: @book.user, book: @new_book %>
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class='table'>
          <tr>
            <td>
              <%= link_to @book.user do %>
                <%= attachment_image_tag @book.user, :profile_image, size: "100x100", format: 'jpeg', fallback:"default-image.jpg" %>
                <br><%= @book.user.name %> 
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, @book %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-sm btn-success' %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "本当に消しますか？" } %>
            </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
